In [1]:
import pandas as pd
import dateutil
from pandas.tseries.offsets import Day, BusinessMonthBegin, MonthEnd

In [2]:
df_tips = pd.read_csv('out/tips_based_on_past_month.csv')

In [3]:
df_tips

    past_month              stock
0      2021-06      MARUTI.NS.csv
1      2021-06  BAJFINANCE.NS.csv
2      2021-06  ULTRACEMCO.NS.csv
3      2021-06         TCS.NS.csv
4      2021-06        INFY.NS.csv
..         ...                ...
115    2023-05  BAJFINANCE.NS.csv
116    2023-05      MARUTI.NS.csv
117    2023-05  ULTRACEMCO.NS.csv
118    2023-05  ASIANPAINT.NS.csv
119    2023-05  HINDUNILVR.NS.csv

[120 rows x 2 columns]

In [6]:
txn_dates = []
close_l = []

def get_txn_date_and_close(row):    
    txn_date = row['past_month']
    txn_date += '-01'
    txn_date = dateutil.parser.parse(txn_date) + MonthEnd() + Day()
    
    df = pd.read_csv('data/individual stocks/' + row['stock'])
    df['Date '] = df['Date'].apply(lambda x: dateutil.parser.parse(x).strftime("%Y-%m-%d"))
    
    txn_dates.append(txn_date)
    
    j = txn_date + Day()
    close = df[df['Date'] == str(txn_date).split()[0]]['Close'].values
    while len(close) == 0:
        j += Day()
        close = df[df['Date'] == str(j).split()[0]]['Close'].values
        
    close_l.append(close[0])
    
_ = df_tips.apply(get_txn_date_and_close, axis = 1)

In [7]:
df_tips['txn_date'] = txn_dates
df_tips['close'] = close_l
df_tips['amt'] = 200

In [8]:
df_tips.sort_values(by='txn_date', inplace = True)

In [9]:
df_tips.to_csv('out/stock_txns.csv', index = False)

In [10]:
df_tips

    past_month              stock   txn_date        close  amt
0      2021-06      MARUTI.NS.csv 2021-07-01  7584.399902  200
1      2021-06  BAJFINANCE.NS.csv 2021-07-01  5967.149902  200
2      2021-06  ULTRACEMCO.NS.csv 2021-07-01  6707.250000  200
3      2021-06         TCS.NS.csv 2021-07-01  3341.500000  200
4      2021-06        INFY.NS.csv 2021-07-01  1560.400024  200
..         ...                ...        ...          ...  ...
118    2023-05  ASIANPAINT.NS.csv 2023-06-01  3240.699951  200
115    2023-05  BAJFINANCE.NS.csv 2023-06-01  7040.500000  200
116    2023-05      MARUTI.NS.csv 2023-06-01  9328.299805  200
117    2023-05  ULTRACEMCO.NS.csv 2023-06-01  7842.799805  200
119    2023-05  HINDUNILVR.NS.csv 2023-06-01  2697.899902  200

[120 rows x 5 columns]