In [27]:
import pandas as pd

# Calculate Gain From SIP in Sensex

In [28]:
df_sensex = pd.read_csv('data/BSESN.csv', index_col = False)

In [29]:
df_sensex

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-06-01,52067.511719,52228.648438,51808.878906,51934.878906,51934.878906,13400
1,2021-06-02,51749.101562,51913.921875,51450.578125,51849.480469,51849.480469,13500
2,2021-06-03,52121.578125,52273.230469,51942.199219,52232.429688,52232.429688,15000
3,2021-06-04,52367.519531,52389.019531,51952.699219,52100.050781,52100.050781,16700
4,2021-06-07,52231.378906,52378.691406,52054.761719,52328.511719,52328.511719,19800
...,...,...,...,...,...,...,...
493,2023-05-26,61985.359375,62529.828125,61911.609375,62501.691406,62501.691406,9200
494,2023-05-29,62801.539062,63026.000000,62801.539062,62846.378906,62846.378906,9600
495,2023-05-30,62839.851562,63036.121094,62737.398438,62969.128906,62969.128906,7800
496,2023-05-31,62839.968750,62876.769531,62401.019531,62622.238281,62622.238281,7300
497,2023-06-01,62736.468750,62762.410156,62359.140625,62428.539062,62428.539062,8000

In [30]:
current_close = df_sensex[df_sensex['Date'] == '2023-06-01']['Close'].values[0]

In [31]:
current_close

62428.5390625

In [32]:
df_txns_sensex = pd.read_csv('out/sensex_txns.csv')

In [33]:
df_txns_sensex = df_txns_sensex[df_txns_sensex['date'] != '2023-06-01']

In [34]:
def get_current_value(row):
    curr_value = row['amt'] * (current_close / row['close'])
    return curr_value

In [35]:
df_txns_sensex['curr_value'] = df_txns_sensex.apply(get_current_value, axis = 1)

In [36]:
df_txns_sensex

             stock   amt         close        date   curr_value
0   data/BSESN.csv  1000  52318.601562  2021-07-01  1193.237915
1   data/BSESN.csv  1000  52950.628906  2021-08-02  1178.995233
2   data/BSESN.csv  1000  57338.210938  2021-09-01  1088.777240
3   data/BSESN.csv  1000  58765.578125  2021-10-01  1062.331743
4   data/BSESN.csv  1000  60138.460938  2021-11-01  1038.080092
5   data/BSESN.csv  1000  57684.789062  2021-12-01  1082.235717
6   data/BSESN.csv  1000  59183.218750  2022-01-03  1054.835144
7   data/BSESN.csv  1000  58862.570312  2022-02-01  1060.581261
8   data/BSESN.csv  1000  55468.898438  2022-03-01  1125.469242
9   data/BSESN.csv  1000  59276.691406  2022-04-01  1053.171788
10  data/BSESN.csv  1000  56975.988281  2022-05-02  1095.699100
11  data/BSESN.csv  1000  55381.171875  2022-06-01  1127.252042
12  data/BSESN.csv  1000  52907.929688  2022-07-01  1179.946738
13  data/BSESN.csv  1000  58115.500000  2022-08-01  1074.214952
14  data/BSESN.csv  1000  58766.589844  2022-09-01  1062.313454
15  data/BSESN.csv  1000  56788.808594  2022-10-03  1099.310597
16  data/BSESN.csv  1000  61121.351562  2022-11-01  1021.386757
17  data/BSESN.csv  1000  63284.191406  2022-12-01   986.479209
18  data/BSESN.csv  1000  61167.789062  2023-01-02  1020.611338
19  data/BSESN.csv  1000  59708.078125  2023-02-01  1045.562695
20  data/BSESN.csv  1000  59411.078125  2023-03-01  1050.789533
21  data/BSESN.csv  1000  59106.441406  2023-04-03  1056.205340
22  data/BSESN.csv  1000  61354.710938  2023-05-01  1017.501967

In [37]:
total_invested = sum(df_txns_sensex['amt'].values)
current_value = sum(df_txns_sensex['curr_value'].values)

In [38]:
print("Amount invested:", total_invested)
print("current_value:", round(current_value, 2))
print("Percentage gain:", round((current_value - total_invested)/total_invested * 100, 2))

Amount invested: 23000
current_value: 24774.99
Percentage gain: 7.72