In [1]:
import pandas as pd
import dateutil
from datetime import datetime
import statistics as st
from pandas.tseries.offsets import Day, MonthEnd

In [11]:
df = pd.read_csv('data/BSESN.csv', index_col=False)

In [12]:
df['Date'] = df['Date'].apply(lambda x: dateutil.parser.parse(x).strftime("%d-%b-%Y"))

In [20]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,01-Jun-2021,52067.511719,52228.648438,51808.878906,51934.878906,51934.878906,13400
1,02-Jun-2021,51749.101562,51913.921875,51450.578125,51849.480469,51849.480469,13500
2,03-Jun-2021,52121.578125,52273.230469,51942.199219,52232.429688,52232.429688,15000
3,04-Jun-2021,52367.519531,52389.019531,51952.699219,52100.050781,52100.050781,16700
4,07-Jun-2021,52231.378906,52378.691406,52054.761719,52328.511719,52328.511719,19800
...,...,...,...,...,...,...,...
493,26-May-2023,61985.359375,62529.828125,61911.609375,62501.691406,62501.691406,9200
494,29-May-2023,62801.539062,63026.000000,62801.539062,62846.378906,62846.378906,9600
495,30-May-2023,62839.851562,63036.121094,62737.398438,62969.128906,62969.128906,7800
496,31-May-2023,62839.968750,62876.769531,62401.019531,62622.238281,62622.238281,7300
497,01-Jun-2023,62736.468750,62762.410156,62359.140625,62428.539062,62428.539062,8000

In [21]:
start_date = dateutil.parser.parse('1-July-2021')
end_date = dateutil.parser.parse('1-June-2023')

In [22]:
# MS: month begin
# BMS: BusinessMonthBegin
dr = pd.date_range(start_date, end_date, freq="BMS")

In [23]:
stock = 'data/BSESN.csv'
amount = 1000

In [24]:
stock_l = []
amt_l = []
close_l = []
date_l = []

for i in dr:
    j = i
    close = df[df['Date'] == j.strftime("%d-%b-%Y")]['Close']
    while len(close) == 0:
        j = i + Day()
        close = df[df['Date'] == j.strftime("%d-%b-%Y")]['Close']
        
    
    stock_l.append(stock)
    amt_l.append(amount)
    close_l.append(list(close.values)[0])
    date_l.append(i)

In [25]:
df_rep = pd.DataFrame({
    'stock': stock_l,
    'amt': amt_l,
    'close': close_l,
    'date': date_l
})

In [26]:
df_rep

             stock   amt         close       date
0   data/BSESN.csv  1000  52318.601562 2021-07-01
1   data/BSESN.csv  1000  52950.628906 2021-08-02
2   data/BSESN.csv  1000  57338.210938 2021-09-01
3   data/BSESN.csv  1000  58765.578125 2021-10-01
4   data/BSESN.csv  1000  60138.460938 2021-11-01
5   data/BSESN.csv  1000  57684.789062 2021-12-01
6   data/BSESN.csv  1000  59183.218750 2022-01-03
7   data/BSESN.csv  1000  58862.570312 2022-02-01
8   data/BSESN.csv  1000  55468.898438 2022-03-01
9   data/BSESN.csv  1000  59276.691406 2022-04-01
10  data/BSESN.csv  1000  56975.988281 2022-05-02
11  data/BSESN.csv  1000  55381.171875 2022-06-01
12  data/BSESN.csv  1000  52907.929688 2022-07-01
13  data/BSESN.csv  1000  58115.500000 2022-08-01
14  data/BSESN.csv  1000  58766.589844 2022-09-01
15  data/BSESN.csv  1000  56788.808594 2022-10-03
16  data/BSESN.csv  1000  61121.351562 2022-11-01
17  data/BSESN.csv  1000  63284.191406 2022-12-01
18  data/BSESN.csv  1000  61167.789062 2023-01-02
19  data/BSESN.csv  1000  59708.078125 2023-02-01
20  data/BSESN.csv  1000  59411.078125 2023-03-01
21  data/BSESN.csv  1000  59106.441406 2023-04-03
22  data/BSESN.csv  1000  61354.710938 2023-05-01
23  data/BSESN.csv  1000  62428.539062 2023-06-01

In [27]:
df_rep.to_csv('out/sensex_txns.csv', index = False)